/* Enter your custom styles here  */

/* Grid control doesn't work properly unless it is placed on a SplitPage; 
After adding these lines  the issue is fixed */
.lineBreak {
	grid-column-start: 1;
	grid-column-end: -1;  
}
.noBreak {
	grid-column-start: auto;
	grid-column-end: auto;
}

/* .sapMGHLI:before {
  content: "Inst.No. \00a0 ";
}  */

/* Lines for equal column width of FlexBox */
.equalColumns .columns {
	min-height: 350px
	margin: 0 5px 0 0;
	padding: 10px;
}

.column2 {
	flex-flow: column;
	height: 100%;
	display: flex;
}

.wattEditorContainer {
	flex-grow: 1;
}

/* .sapMFlexItemAlignAuto {
	width="50%";
} */

.sapCEd .equalColumns .columns {
	/* for 100% height: */
	position: absolute;
	top: 3rem; /* Header Height */
    bottom: 0px; /* Footer Height */;
}

.ace_editor {
	min-height: 300px;
}

.equalColumns .columns .sapMFlexItem {
	width: 50%;
}

/* further formating  */
/* xxx cite {
	color: darkolivegreen;
} */

.dark {
	padding: 5px 5px 5px 5px !important;
	display: block;
}


/* for button line above XML code editor */
.navButton {
	margin: 0px;
	padding: 0px;
	padding-right: 0.1rem;
	padding-bottom: 0.7rem;
}

/*.sapMBtnIcon {
	font-size: small;
}

 .sapMBtnInner {
	font-size: small;
} */

/* shrink the empty white space in the result tab page */
/* xxx .sapMITBContent {
	padding: 0px;
} */


